@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&family=Roboto:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1260px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(https://i.ibb.co/NpTPCXR/333.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.logo{
    max-width: 5rem;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #bab2d0;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover{
    color: #8e5c07;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: rgb(19, 164, 164);
    text-transform: uppercase;
    margin-bottom: 35px;
}
.header-content p{
    font-size: 16px;
    color: aqua;
    padding: 0 250px;
    margin-bottom: 25px;
}
.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #8e5c07;
    color: #f9fafc;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: #4d3b1e;
}

.yataros{
    text-align: center;
} 
/*.yataros-content {
    background-image: url(https://i.ibb.co/PcVnHSs/Captura-de-pantalla-131.png);
    background-repeat: no-repeat;
    background-position: center;
}*/
.yataros-content{
    text-align: center;
}
.yataros-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
    display: flex;
}
.yataros-group{
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.yataros-1{
    padding: 25px;
}
.yataros-1 img{
    width: 200px;
}
.yataros-img{
    position: absolute;
    top:0;
    right: 0;
}
.yataros-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}
.img-media{ /*imagen de siecha*/
    width: 50%;
    height: 50%;
}
.services{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(https://i.ibb.co/VCTWyCN/Whats-App-Image-2022-09-22-at-7-57-36-PM.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 75%;
        background-attachment: fixed;
        padding: 100px 0;
}
.services-content{
    text-align: center;
}
.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.services-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 100px;
}
.services-group{
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.servicios-1{
    padding: 0 30px;
}
.servicios-1 img{
    width: 250px;
    margin-bottom: 15px;
}
.servicios-1 h3{
    color: #bab2d0;
    font-size: 28px;
}

.general{
    display: flex;
}
.general-1{
    width: 50%;
    padding: 011px 256px 100px 100px;
    background-color: #e1e2e6;
}
.general-2{
    background-image: url(https://i.ibb.co/C0WNSV2/jhd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    
    width: 50%;
}
.general-3{
    background-image: url(https://i.ibb.co/2jmTzTn/yyyy.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
h2{
    font-size: 50px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}
p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.container-footer{
    max-width: 1259 px;
    margin: 0 auto;
}
.footer{
    background-color: #24262b;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    padding: 80px 0;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}
.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .3s ease;
}
.social-links a:hover{
    background-color: #00c3ff;
}

@media(max-width:991px){

    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 30px;
    }

    .header-content p{
        padding: 0;
    }

    .yataros{
        padding: 30px;
    }

    .yataros-content h2{
        padding: 0;
    }

    .yataros-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .yataros-img{
        display: none;
    }

    .services{
        padding: 30px;
    }

    .services-content p{
        padding: 0;
    }

    .services-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .servicios-1{
        margin-bottom: 25px;
    }

    .general{
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3{
        display: none;
    }

    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
/*https://www.youtube.com/watch?v=sgDabqmtLUg*/
}
